* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .app {
    font-family: Avenir;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .app-header,
  .app-main-section,
  .app-footer {
    display: flex;
    width: 100%;
  }
  
  .app-logo {
    vertical-align: middle;
    width: 30px;
  }
  
  .app-hamburger {
    border: 0;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: -5px 0 0 0;
  }

  .app-header {
    background-color: #fff;
    color: white;
    align-items: center;
    padding: 0 1rem;
    height: 50px;
  }

  .app-header a {
    font-family: 'AbrilFatface', serif;
    letter-spacing: 1.07px;
  }

  .app-main-section > div {
    width: 100%;
  }

  .app-grid > * {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1rem;
  }
  
  a {
    color: #e85d75;
    text-decoration: none;
  }

  .white {
    background: #fff;
    padding: .5rem 2rem 1rem;
  }

  .app-input {
      font-size: 1.375rem;
      border-radius: 3px;
      padding: .5rem 3rem;
  }

  .app-textarea {
     width: 100%;
     padding: 1rem;
     border-radius: 3px;
     border: 1px solid #979797;
  }
  
  .app-main-section {
    background: #f5f5f5;
    padding: 3rem 1rem 100px;
    font-family: 'sofia-pro', sans-serif;
    min-height: 90vh;
  }
  .app-main-section h1 {
    font-family: 'AbrilFatface', serif;
    font-size: 2rem;
    letter-spacing: 1.07px;
  }
  .app-sidebar {
    background: #f1f1f1;
    padding: 0 1rem;
    width: 250px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .app-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .app-sidebar a {
    display: block;
    border-top: 1px solid #ddd;
    padding: .5rem 0;
    font-size: 1.3rem;
  }
  .app-sidebar li:first-of-type a {
    border: 0;
  }
  .app-sidebar-logo {
    font-family: 'AbrilFatface', serif;
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: .79px;
  }

  .home {
      text-align: center;
      width: 100%;
      font-size: 1.375rem;
  }
  .home p {
      margin: 0 0 .8rem;
  }
  .home .app-input {
      margin: 0 0 2rem;
  }

  .button {
      background: #e85d75;
      border: 0;
      color: #fff;
      display: block;
      font-size: 1.375rem;
      margin: 1rem auto;
      padding: .5rem 5rem;
  }
  .breadcrumb {
    font-size: 1.375rem;
  }
  .breadcrumb a {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .grid-about {
    padding: 0 1rem;
    max-width: 800px;
  }

  .appointment {
    border: 1px solid #979797;
    border-radius: 3px;
    padding: .5rem 1rem;
    margin: 0 0 1rem;
  }
  .appointment-date,
  .appointment-blurb {
    display: inline-block;
    vertical-align: middle;
  }
  .appointment-month,
  .appointment-day {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .71px;
    display: block;
    text-align: center;
    margin: 0 1rem 0 0;
  }
  .appointment p {
    margin: 0;
  }
  .appointment .text {
    font-weight: 600;
  }

  .checklist-item {
    background: #d8d8d8;
    border: 1px solid #979797;
    border-radius: 3px;
    line-height: 1;
    padding: 0 1rem;
    margin: 0 0 1rem;
  }
  .diary-entry-tags {
    margin: 1rem 0 2rem;
  }
  .diary-entry-tags button {
    border-radius: 20px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 0 1rem 0 0;
  }
  .diary-entry .button {
    float: right;
  }

  .app-footer {
    background: #ddd;
    padding: 1rem;
    position: absolute;
    bottom: 0;
  }

  .overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }